<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mit.mitspermissions"
    android:versionCode="1"
    android:versionName="1.0" >



    <application>
        <activity
            android:name=".MitsPermissionsActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>